
@{
    //Sabio:
    ViewBag.Title = "Found!It";
    Layout = "../Shared/_LayoutAdmin.cshtml";
}

@section styles {
    <style type="text/css">
        .blog-avatar {
            height: 200px;
            width: 200px;
        }
    </style>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Page title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="index.html">Admin</a>
            </li>
            <li class="active">
                <strong>Breadcrumb</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="/blog-posts/create" class="btn btn-primary">Create Blog Post</a>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content container">
    <div class="animated fadeInRightBig">
        <h3 class="font-bold">Blogs</h3>
        <div id="blogs" class="row">

        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/sabio/services/sabio.services.blogPosts.js"></script>
    <script type="text/javascript">
        sabio.page.thisBlog = null;
        sabio.page.startUp = function () {
            sabio.services.blogPosts.get(sabio.page.handlers.onAjaxGetAllSuccess, sabio.page.handlers.onAjaxGetAllError)
            $("#blogs").on("click", ".delete", sabio.page.handlers.delete);
        };

        sabio.page.handlers.delete = function () {
            sabio.page.deleteClick(this);
        };

        sabio.page.handlers.onAjaxGetAllError = function () {
            sabio.page.getAllAjaxErrorToastr();
        };
        sabio.page.handlers.onAjaxGetAllSuccess = function (data) {
            sabio.page.blogSuccess(data.items);
        };

        sabio.page.handlers.onDeleteError = function () {
            sabio.page.deleteBlogsErrorToastr();
        };
        sabio.page.handlers.onDeleteSuccess = function () {
            sabio.page.deleteBlogs();
        };

        sabio.page.getAllAjaxErrorToastr = function () {
            sabio.services.admin.notifications.error("Failed to load Blogs", "Error");
        };

        sabio.page.blogSuccess = function (blogs) {
            for (var i = 0; i < blogs.length; i++) {
                var template = $($("#blogTemplate").html());
                var currentItem = blogs[i];
                template.find(".blogId").val(currentItem.id);
                template.find(".blogTitle").text(currentItem.title);
                template.find(".blogName").text(currentItem.name);
                template.find(".blog-avatar").attr("src", currentItem.imageUrl);
                template.find(".blogContent").html(currentItem.blogContent);
                template.find(".datePublished").text(currentItem.date.substring(0, 10));
                template.find(".userId").val(currentItem.userId);
                template.find(".edit-address").attr("href", "/blog-posts/" + currentItem.id + "/edit");

                $("#blogs").prepend(template);
            }
        };







        sabio.page.deleteClick = function (thisBlog) {
            sabio.page.thisBlog = $(thisBlog).closest(".template");
            sabio.services.admin.notifications.prompt("You will not be able to get this blog", sabio.page.deleteSweetAlertConfirmed);
        };

        sabio.page.deleteSweetAlertConfirmed = function () {
            var id = sabio.page.thisBlog.find(".blogId").val();
            sabio.services.blogPosts.delete(id, sabio.page.handlers.onDeleteSuccess, sabio.page.handlers.onDeleteError)
        };

        sabio.page.deleteBlogs = function () {
            sabio.page.thisBlog.remove();
        };

        sabio.page.deleteBlogsErrorToastr = function () {
            sabio.services.admin.notifications.error("Failed to delete blog", "Error");
        };

    </script>
    <!--Template for New Blog-->
    <script type="text/html" id="blogTemplate">
        <div class="col-lg-6 template">
            <div class="ibox">
                <div class="ibox-content">
                    <img src="images/avatar.jpg" alt="avatar" class="blog-avatar">
                </div>
                <a href="article.html" class="btn-link">
                    <h2 class="blogTitle">
                        It showed a lady fitted out with
                    </h2>
                </a>
                <div class="small m-b-xs">
                    <strong class="blogName">Mike Smith</strong> <span class="text-muted"><i class="datePublished"></i></span>
                </div>
                <p class="blogContent">
                    The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of.
                </p>
                <div class="form-group">
                    <input type="hidden" value="" class="form-control blogId" placeholder="Blog Id" name="BlogId">
                </div>
                <div class="form-group">
                    <input type="hidden" value="" class="form-control userId" placeholder="User Id" name="UserId">
                </div>
            </div>
            <button type="button" class="delete btn-sm btn-danger pull-right">Delete</button>
            <a href="/blog-posts/0/edit" class="edit-address btn btn-outline btn-default">Edit</a>
        </div>
    </script>
    <!--Template for New Blog-->
}